<div class="form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="container-form">
        <mat-form-field class="form-group">
          <mat-label>Автор</mat-label>
          <mat-select class="form-control" formControlName="author">
            <mat-option
              *ngFor="let author of authors" [value]="author.surname">{{author.surname}}</mat-option>

          </mat-select>
          <mat-hint align="end"></mat-hint>
        </mat-form-field>

        <mat-form-field class="form-group">
          <mat-label>Название</mat-label>
          <input class="form-control" formControlName="title" matInput placeholder="Пример. Название">
          <mat-hint align="end"></mat-hint>
        </mat-form-field>

        <mat-form-field class="form-group">
          <mat-label>Издатель</mat-label>
          <input class="form-control" formControlName="publisher" matInput placeholder="Пример. Издатель">
          <mat-hint align="end"></mat-hint>
        </mat-form-field>


        <mat-form-field class="form-group">
          <mat-label>Год</mat-label>
          <input class="form-control" formControlName="year" matInput placeholder="Пример. 6.06.1799">
          <mat-hint align="end"></mat-hint>
        </mat-form-field>

        <button
          class="btn btn-success"
          type="submit"
          [disabled]="form.invalid"
          mat-raised-button color="primary"
        >Добавить книгу</button>
      </div>
    </div>
  </form>
</div>

<div class="container-tab">
  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef> Автор </th>
      <td mat-cell *matCellDef="let element"> {{element.author}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Название
      </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="publisher">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Издатель
      </th>
      <td mat-cell *matCellDef="let element"> {{element.publisher}} </td>
    </ng-container>

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Год
      </th>
      <td mat-cell *matCellDef="let element"> {{element.year}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

