<div class="form">
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>id</label>
    <input type="text" class="form-control" formControlName="id">
  </div>
  <div class="form-group">
    <label>surname</label>
    <input type="text" class="form-control" formControlName="surname">
  </div>
  <div class="form-group">
    <label>name</label>
    <input type="text" class="form-control" formControlName="name">
  </div>
  <div class="form-group">
    <label>middleName</label>
    <input type="text" class="form-control" formControlName="middleName">
  </div>
  <div class="form-group">
    <label>dateOfBirth</label>
    <input type="text" class="form-control" formControlName="dateOfBirth">
  </div>
  <button
    class="btn btn-success"
    type="submit"
    [disabled]="form.invalid"
  >Добавить автора</button>
</form>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <ng-container matColumnDef="surname">
    <th mat-header-cell *matHeaderCellDef> surname </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> name </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>

  <ng-container matColumnDef="middleName">
    <th mat-header-cell *matHeaderCellDef> middleName </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <ng-container matColumnDef="dateOfBirth">
    <th mat-header-cell *matHeaderCellDef> dateOfBirth </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

